/* 
	Additional styles for BE, mostly related to error rendering
	$Id: $
*/

.errorBox {
	background-color: #f00;
    color: #fff;
	padding: 4px;
}
.warningBox {
	background-color: #ff6600;
    color: #000;
	padding: 4px;
}
.successBox {
	background-color: #0f0;
    color: #000;
	padding: 4px;
}
